@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.App {
    width: 100vw;
    height: 100vh;
    font-family: 'Roboto', sans-serif;

    max-height: 100vh;
    overflow: hidden;

    display: grid;
    grid-template-areas: 
        "header header"
        "aside main";

    grid-template-rows: 44px calc(100vh - 44px);
    grid-template-columns: 234px calc(100vw - 234px);
}

@media screen and (max-width: 1350px) {
    .App {
        grid-template-areas: 
        "header header"
        "main main";
    }
}